body {
    margin: 0px;
    background: black;
}

@font-face {
    font-family: 'base';
    src: url('base.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('base.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'coursive';
    src: url('coursive.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('coursive.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.background {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: url(img/cursor_day.png) 52 6, auto;
}

.block{
    display: none;
}

.content {
    font-family: base;
    font-size: 24px;
    width: 1000px;
    height: 700px;
    color: #291d19;
    background-color: black;
    background-image: url(img/paper_title.png);

    margin: 0 auto;
    max-width: 1000px;
    max-height: 700px;
    overflow: auto;
}

a {
    font-family: coursive;
    font-weight:900;
    font-size:24px;
    margin-bottom:10px;
    line-height:74px;
    color: #640000;
    cursor: inherit;
}
