root{
    --cursor: url('img/cursor_day.png');
}

body {
    margin: 0px;
    background: black;
    overflow: hidden;
}

@font-face {
    font-family: 'base';
    src: url('base.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('base.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'coursive';
    src: url('coursive.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('coursive.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.background {
    cursor: none;
}

.block{
    display: none;
}
.block:hover {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content {
    font-family: base;
    font-size: 20px;
    width: 1000px;
    height: 700px;
    color: #291d19;
    background-image: url(img/paper_title.jpg);

    margin: 0 auto;
    max-width: 1000px;
    max-height: 700px;
    overflow: auto;
}

a {
    text-decoration: none;
    font-family: coursive;
    font-weight:900;
    font-size:22px;
    margin-bottom:10px;
    line-height:74px;
    color: #640000;;
    cursor: inherit;
}

a:before{
    content:url(img/cursor_empty.png);
    display:inline;
    position: relative;
    cursor: inherit;
}

a:hover {
    display: inline;
    color: #7c1111;
    text-shadow: 5px 5px 20px rgba(162, 0, 0, 0.3);
    cursor: inherit;
}
a:hover:before{
    content:var(--cursor);
    display:inline;
    position: relative;
    cursor: inherit;
}

.spotlight {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-image: radial-gradient(
            circle,
            transparent 0%,
            rgba(220, 195, 100, 0.7) 1%,
            rgba(220, 185, 70, 0.4) 1.2%,
            rgba(225, 220, 95, 0.1) 1.4%,
            transparent 8%,
            rgba(0, 0, 0, 0.8) 35%
    );
}
